.upword-dropdown {
  /*display: none;*/
  position: absolute;
  background: white;
  color: black;
  z-index: 999;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  box-shadow: 1px 5px 5px 1px rgba(100,100,100,.2);
}

.pos-buttons {
    display: flex;
    justify-content: space-around;
    box-shadow: 0 1.5px 2px -2px gray;
}

.pos-button {
    display: flex;
    flex-grow: 1;
    justify-content: center;
    align-items: center;
    padding: 5px;
}

.active.pos-button{
    background: #eee;
}

.part-of-speech-list {
    display: none;
}

.part-of-speech-list.active {
    display: block;
}

.synonyms-container {
    display: none;
    position: absolute;
}
.synonyms-container.active {
    display: block;
    left: 100%;
    top: 0;

}

#upword-anchor {

}

.upword-dropdown li {
  list-style: none;
  padding: 5px 10px;
  cursor: pointer;
}

.upword-dropdown li:hover {
  background: #eee;
}

.thesaurus-link {
  display: block;
  border-top: .5px solid #aaa;
  text-decoration: none;
  color: rgba(100,100,100,1);
  font-size: 14px;
  padding: 10px;
  margin-top: 7px;
  letter-spacing: .1px;
}

.thesaurus-link:hover {
  color: rgba(30,144,255,.8);
}
