.upword-dropdown {
  display: none;
  position: absolute;
  background: white;
  color: black;
  z-index: 999;
  padding: 5px 5px 5px 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  box-shadow: 1px 5px 5px 1px #eee;
}

.upword-dropdown li {
  list-style: none;
  padding: 5px 10px;
  cursor: pointer;
}

.upword-dropdown li:hover {
  background: #eee;
}
